
@import url('https://fonts.googleapis.com/css?family=Comic+Neue:300,300i,400,400i,700,700i&display=swap');

:root {
  --pure-material-primary-rgb: 124, 153, 0;
  --pure-material-onprimary-rgb: 255, 255, 255;
  --pure-material-surface-rgb: 255, 255, 255;
  --pure-material-onsurface-rgb: 0, 0, 0;
  --font: 'Comic Neue'
}

.checkboxes > label,
.radios > label {
  display: block;
  margin: 16px 0;
}

.switches > label {
  width: 120px;
}

.switches > label:first-child {
  margin: 0 0 16px;
}

.textfields > label {
  margin: 16px 0
}

.checkboxes > label:first-child,
.radios > label:first-child,
.textfields > label:first-child {
  margin: 0 0 16px;
}

.checkboxes > label:last-child,
.radios > label:last-child,
.textfields > label:last-child {
  margin: 0 0 16px;
}

.progresses > progress:first-child {
  margin: 0 0 16px;
}

.progresses > progress:last-child {
  margin: 16px 0 0;
}


a {
  font-size: 18px;
  color: rgb(var(--pure-material-primary-rgb));
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}


/* SWITCH */
.pure-material-switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* input */
.pure-material-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s
}

/* span */
.pure-material-switch > span {
  display: inline-block;
  width: 100%;
  cursor: pointer
}

/* track */ 
.pure-material-switch > span::before {
  content: '';
  float: right;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  transition: background-color 0.2s, opacity 0.2s;
}

/* thumb */
.pure-material-switch > span::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}

/* checked */
.pure-material-switch > input:checked {
  right: -10px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-switch > input:checked + span::before {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.pure-material-switch > input:checked + span::after {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: translateX(16px)
}

/* hover, focus */
.pure-material-switch:hover > input {
  opacity: 0.04
}

.pure-material-switch > input:focus {
  opacity: 0.12;
}

.pure-material-switch:hover > input:focus {
  opacity: 0.16;
}

/* active */
.pure-material-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-switch > input:active + span::before {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.pure-material-switch > input:checked:active + span::before {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38)
}

/* disabled */
.pure-material-switch > input:disabled {
  opacity: 0;
}

.pure-material-switch > input:disabled + span {
  color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  opacity: 0.38;
  cursor: default
}

.pure-material-switch > input:disabled + span::before {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38)
}

.pure-material-switch > input:checked:disabled + span::before {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6)
}
