<template>
  <style>
  	.container {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 5px #dadada;
      position: relative;
      min-height: 100px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 10px 0;
    }

    .container .left {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 30%;
      color: #fff;
      border-radius: 5px 0 0 5px;
      text-align: center;
      padding: 18px 0 0 0;
    }

    .container .left .month {
      line-height: 20px;
      font-weight: 300;
    }

    .container .left .day {
      font-size: 40px;
    }

    .container .right {
      margin-left: 30%;
      padding: 10px 10px 10px 15px;
      color: #333;
    }

    .container .right .day-long {
      font-weight: 300;
      font-size: 10px;
      line-height: 35px;
    }

    .container .right .time {
      font-weight: bold;
      font-size: 35px;
      line-height: 40px;
    }

    /* theme code */
    .container.green .left {
      background-color: #37bc9b;
    }

    .container.green .day-long {
      color: #278b79;
    }

    .container.purple .left {
      background-color: purple;
    }

    .container.purple .day-long {
      color: palevioletred
    }

    .container.red .left {
      background-color: #bc2751;
    }

    .container.red .day-long {
      color: #922140
    }

    .container.blue .left {
      background-color: #356dbc;
    }

    .container.blue .day-long {
      color: #2d5ea3;
    }

    .container.gold .left {
      background-color: #bc9600;
    }

    .container.gold .day-long {
      color: #9a7b00
    }
  </style>
  <div class="container green">
    <div class="left">
      <div class="month"></div>
      <div class="day"></div>
    </div>
    <div class="right">
      <div class="day-long"></div>
      <div class="time"></div>
    </div>
  </div>
</template>
<script>
	(function () {
		// Get the contents of the template (_currentScript is available with webcomponents.js, use currentScript if you don't use this polyfill)
		var template = document._currentScript.ownerDocument.querySelector('template')
		// create a prototype for this component
		var proto = Object.create(HTMLElement.prototype)

    var months = [
      'January', 'February', 'March', 'April', 'May', 'June',
      'July', 'August', 'September', 'October', 'November',
      'December'
    ]

    var days = [
      'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
      'Friday', 'Saturday'
    ]


		// Register a createdCallback
		proto.createdCallback = function () {
			// Grab the contents of the template
      var clone = document.importNode(template.content, true)
      // add the template contents to the shadow dom
      this.createShadowRoot().appendChild(clone)
      
      // grab the elements from the shadow root
      this.$container = this.shadowRoot.querySelector('.container')
      this.$month = this.shadowRoot.querySelector('.month')
      this.$day = this.shadowRoot.querySelector('.day')
      this.$dayLong = this.shadowRoot.querySelector('.day-long')
      this.$time = this.shadowRoot.querySelector('.time')

      this.updateTheme(this.getAttribute('theme'))

      // call the function initially
      this.draw()
      var that = this

      // call the draw function every second to update the time
      setInterval(() => {
        that.draw()
      }, 1000);
    };
    
    proto.draw = function () {
      this.date = new Date()
      this.$month.innerHTML = months[this.date.getMonth()];
      this.$day.innerHTML = this.date.getDate()
      this.$dayLong.innerHTML = days[this.date.getDay()].toUpperCase()
      this.$time.innerHTML = this.date.toLocaleTimeString()
    }

    proto.updateTheme = function (theme) {
      var val = 'green'
      if (['green', 'red', 'blue', 'gold', 'purple'].indexOf(theme) > -1) {
        val = theme
      }
      this.$container.className = 'container ' + val
    }

		// called when the component instance is attached to the DOM
		proto.attachedCallback = function () {

		};

		// called when one of this component attributes change
		proto.attributeChangedCallback = function (attrName, oldVal, newVal) {
      switch (attrName) {
        case "theme":
          this.updateTheme(newVal)
          break; 
      
        default:
          break;
      }
		};

		// Register the element with the document
		document.registerElement('date-widget', { prototype: proto })
	})()
</script>