.-chart {
  width: 320px;
  height: 320px;
  display: inline-block;
}

.-chart svg g {
  transform: translate(50%,50%) scale(0.4)
}

.-chart svg g text {
  font-size: 2em;
  text-transform: uppercase;
  dominant-baseline: central
}